html,
body {
  user-select: none;
  margin: 0;
}

p {
  margin: 0;
}

#chart-control-panel-slider {
  position: absolute;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#chart-container {
  position: relative;
}

#x-chart-metrics {
  margin-top: 10px;
  height: 40px;
}
.y-chart-line {
  height: 1px;
  width: 100%;
  background-color: #eee;
}

#y-chart-metrics {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.y-chart-element {
  height: 0;
  overflow: visible;
  width: 100%;
  transform: translateY(-15px);
}

.y-chart-container {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  transition: all 0.2s ease-in;
}

.text {
  color: #999;
  font-size: 12px;
  font-family: Helvetica;
  font-weight: 200;
}

.date-element {
  will-change: left, opacity;
  position: absolute;
  transform: translateX(-50%);
  text-align: center;
  transition: opacity 0.2s ease-in;
  width: 200px;
}

.polyline {
  vector-effect: non-scaling-stroke;
}
